@import "tailwindcss";

@layer base {
  :root {
    --bg-primary: #F4F6FB;
    --bg-surface: #FFFFFF;
    --bg-accent: #EAEFF9;
    --text-primary: #1E253B;
    --text-secondary: #64748B;
    --border-color: #E2E8F0;
    
    --primary: #3B82F6;
    --primary-hover: #2563EB;
    --accent-teal: #14B8A6;
  }

  .dark {
    --bg-primary: #181A2A;
    --bg-surface: #22253B;
    --bg-accent: #2D314E;
    --text-primary: #FFFFFF;
    --text-secondary: #94A3B8;
    --border-color: #2E334D;
    
    --primary: #4F46E5;
    --primary-hover: #4338CA;
    --accent-teal: #2DD4BF;
  }
}

html,
body {
  background-color: var(--bg-surface);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

  /* body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    } */
